<div class="info">
<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>

<p>
	<strong>Body:</strong>
	<%= @article.body %>
</p>

<h2>Comments</h2>
<ul>
<% @article.comments.each do |comment| %>
	<li><h4>Commenter: <%= comment.commenter %></h2></li>
	<li><h5>Text: <%= comment.body %></h3></li>
	<br>
<% end %>
</ul>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to "Back", articles_path %>
<%= link_to "Edit", edit_article_path %>
</div>